<f:layout name="Portal"/>

<f:section name="Title">Belonet - Bedenkenlos im Netz</f:section>

<f:section name="TopMenu">
    <f:render partial="TopMenu" arguments="{active: 'home'}"/>
</f:section>

<f:section name="Navigation">
    <f:render partial="Navigation"/>
</f:section>

<f:section name="ModuleMenu">
</f:section>

<f:section name="Content">
    <div style="float: right; border-left: 1px #CCC solid; padding: 0 0 20px 20px;"><h2>Kontakt</h2>

        <p style="width: 200px;">Bei Fragen erreichen Sie unsere Mitarbeiter unter der Telefonnummer:</p>

        <p style="padding-left: 40px; font-size: 18px; color: #008;">0931 12345-0</p></div>
    <h1>{welcome}</h1>

    <p style="font-size: 20px; margin-top: 30px; width: 600px;">herzlich Willkommen bei Belonet, Ihrer sicheren
        Internetumgebung. Bei uns surfen Sie <strong><i><span style="color: #008;">be</span>denken<span
                style="color: #008;">lo</span>s im <span style="color: #008;">Net</span>z</i></strong>.</p>
    <br class="clear"/>
</f:section>