<f:layout name="Portal"/>

<f:section name="Title">Impressum</f:section>

<f:section name="TopMenu">
    <f:render partial="TopMenu" arguments="{active: 'about'}"/>
</f:section>

<f:section name="Navigation">
    <f:render partial="Navigation"/>
</f:section>

<f:section name="ModuleMenu">
</f:section>

<f:section name="Content">
    <h1>Impressum</h1>

    <h2>Angaben gemäß § 5 TMG:</h2>

    <p>Musterfirma<br/>
        Musterstraße 1<br/>
        97074 Würzburg
    </p>

    <h2>Vertreten durch:</h2>

    <p>Max Mustermann</p>

    <h2>Kontakt:</h2>
    <table>
        <tr>
            <td>Telefon:</td>
            <td>0931 0</td>
        </tr>
        <tr>
            <td>Telefax:</td>
            <td>0931 9</td>
        </tr>
        <tr>
            <td>E-Mail:</td>
            <td>info@belonet.local</td>
        </tr>
    </table>
    <h2>Registereintrag:</h2>

    <p>Eintragung im Handelsregister. <br/>Registergericht:Würzburg <br/>Registernummer: 123456</p>

    <h2>Umsatzsteuer-ID:</h2>

    <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br/>
        XY123456789</p>

    <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>

    <p>Monika Mustermayer</p>

    <p></p>

    <p>Quelle: <em><a rel="nofollow" href="http://www.e-recht24.de/impressum-generator.html">http://www.e-recht24.de</a></em>
    </p>

    <h1>Datenschutz</h1>

    <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren
        Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies,
        soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an
        Dritte weitergegeben.</p>

    <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
        Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
        möglich.</p>

    <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von
        nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen.
        Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von
        Werbeinformationen, etwa durch Spam-Mails, vor.</p>

    <p><i>Quellenangabe: <a rel="nofollow" href="http://www.e-recht24.de/muster-datenschutzerklaerung.html"
                            target="_blank">eRecht24</a></i></p>
</f:section>