<f:layout name="Portal"/>

<f:section name="Title">Kontakt und Hilfe</f:section>

<f:section name="TopMenu">
    <f:render partial="TopMenu" arguments="{active: 'contact'}"/>
</f:section>

<f:section name="Navigation">
    <f:render partial="Navigation"/>
</f:section>

<f:section name="ModuleMenu">
</f:section>

<f:section name="Content">
    <h1>Kontakt und Hilfe</h1>
    <h2>Telefonnummer für Unterstützung</h2>
    <p>0931 0</p>
    <h2>Anschrift</h2>
    <p>Musterfirma<br />
        Musterstraße 1<br />
        97074 Würzburg
    </p>
</f:section>