<f:layout name="Portal"/>

<f:section name="Title">Wiki</f:section>

<f:section name="TopMenu">
    <f:render partial="TopMenu"/>
</f:section>

<f:section name="Navigation">
    <f:render partial="Navigation" arguments="{active: 'wiki'}"/>
</f:section>

<f:section name="ModuleMenu">
</f:section>

<f:section name="Content">
    <div class="wiki-main-container">
        <nav class="wiki-entries-menu">
            <ul class="wiki-entries-nav">
                <li class="wiki-entries-nav-element">a</li>
                <li class="wiki-entries-nav-element">b</li>
                <li class="wiki-entries-nav-element">c</li>
                <li class="wiki-entries-nav-element">a</li>
                <li class="wiki-entries-nav-element">b</li>
                <li class="wiki-entries-nav-element">c</li>
                <li class="wiki-entries-nav-element">a</li>
                <li class="wiki-entries-nav-element">b</li>
                <li class="wiki-entries-nav-element">c</li>
                <li class="wiki-entries-nav-element">a</li>
                <li class="wiki-entries-nav-element">b</li>
                <li class="wiki-entries-nav-element">c</li>
                <li class="wiki-entries-nav-element">a</li>
                <li class="wiki-entries-nav-element">b</li>
                <li class="wiki-entries-nav-element">c</li>
                <li class="wiki-entries-nav-element">a</li>
                <li class="wiki-entries-nav-element">b</li>
                <li class="wiki-entries-nav-element">c</li>
                <li class="wiki-entries-nav-element">a</li>
                <li class="wiki-entries-nav-element">b</li>
                <li class="wiki-entries-nav-element">c</li>
            </ul>
        </nav>
        <div class="wiki-entry-content">
            long ass textlong ass textlong ass textlong ass text
            long ass textlong ass textlong ass textlong ass text
            long ass textlong ass textlong ass textlong ass text
            long ass textlong ass textlong ass textlong ass text
            long ass textlong ass textlong ass textlong ass text
        </div>
    </div>
</f:section>