<f:layout name="Portal"/>

<f:section name="Title">Neue Nachricht</f:section>

<f:section name="TopMenu">
    <f:render partial="TopMenu"/>
</f:section>

<f:section name="Navigation">
    <f:render partial="Navigation" arguments="{active: 'mail'}"/>
</f:section>

<f:section name="ModuleMenu">
    <f:render partial="MenuMail" arguments="{active: 'new'}"/>
</f:section>

<f:section name="Content">

    <f:form action="sendMail" class="form-horizontal mail" method="post" enctype="multipart/formdata">
        <f:form.hidden name="recipient"/>
        <f:form.hidden name="subject"/>
        <f:form.hidden name="content"/>
        <div class="form-group">
            <label for="mailRecipient">Empfänger</label>
            <f:if condition="{mail}">
                <f:then>
                    <f:form.textfield name="recipient" class="form-control" id="mailRecipient" value="{mail.sender.emailaddress}" autofocus="autofocus"/>
                </f:then>
                <f:else>
                    <f:form.textfield name="recipient" class="form-control" id="mailRecipient" value="" autofocus="autofocus"/>
                </f:else>
            </f:if>

        </div>
        <div class="form-group">
            <label for="mailSubject">Betreff</label>
            <f:if condition="{mail}">
                <f:then>
                    <f:form.textfield name="subject" class="form-control" id="mailSubject" value="{mail.subject}"/>
                </f:then>
                <f:else>
                    <f:form.textfield name="subject" class="form-control" id="mailSubject" value=""/>
                </f:else>
            </f:if>

        </div>
        <div class="form-group">
            <label for="mailContent">Nachricht</label>
            <f:if condition="{mail}">
                <f:then>
                    <f:form.textarea name="content" class="form-control" id="mailContent" value="{mail.content}" rows="10"/>
                </f:then>
                <f:else>
                    <f:form.textarea name="content" class="form-control" id="mailContent" rows="10"/>
                </f:else>
            </f:if>

        </div>
        <input class="btn btn-default" type="submit" value="versenden" style="margin-left: 350px; padding: 10px 100px;">
    </f:form>
</f:section>