<f:layout name="Portal"/>

<f:section name="Title">Posteingang</f:section>

<f:section name="TopMenu">
    <f:render partial="TopMenu"/>
</f:section>

<f:section name="Navigation">
    <f:render partial="Navigation" arguments="{active: 'mail'}"/>
</f:section>

<f:section name="ModuleMenu">
    <f:render partial="MenuMail" arguments="{active: 'inbox'}"/>
</f:section>

<f:section name="Content">

    <h1>Posteingang</h1>

    <f:if condition="{allMails -> f:count()}>0">
        <f:then>

            <table class="table table-hover mailbox">
                <thead>
                <tr>
                    <th>Datum</th>
                    <th>Absender</th>
                    <th>Betreff</th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{allMails}" as="mail">
                    <tr>
                        <td style="{f:if(condition: '{mail.opened} == 0', then: 'font-weight: bold;')}">
                            <f:link.action action="showReceivedMailItem" arguments="{mail: mail}">
                                <f:format.date format="d.m.Y H:i:s">{mail.date}</f:format.date>
                                Uhr
                            </f:link.action>
                        </td>
                        <td style="{f:if(condition: '{mail.opened} == 0', then: 'font-weight: bold;')}">
                            <f:link.action action="showReceivedMailItem" arguments="{mail: mail}">
                                {mail.sender.name}
                            </f:link.action>
                        </td>
                        <td style="{f:if(condition: '{mail.opened} == 0', then: 'font-weight: bold;')}">
                            <f:link.action action="showReceivedMailItem" arguments="{mail: mail}">
                                {mail.subject}
                            </f:link.action>
                        </td>
                    </tr>
                </f:for>
                </tbody>
                <tfoot></tfoot>
            </table>

        </f:then>
        <f:else>

            <div class="alert alert-info" role="alert">Sie haben keine Nachrichten in Ihrem Posteingang.</div>

        </f:else>
    </f:if>

</f:section>