<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        <f:render section="Title"/>
    </title>
    <f:base/>
    <link rel="stylesheet" href="{f:uri.resource(path:'CSS/bootstrap/css/bootstrap.css')}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{f:uri.resource(path:'CSS/bootstrap/css/bootstrap-theme.css')}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{f:uri.resource(path:'CSS/layout.css')}" type="text/css" media="all"/>
    <link rel="stylesheet" href="{f:uri.resource(path:'CSS/portal.css')}" type="text/css" media="all"/>
    <script src="{f:uri.resource(path:'JS/jquery-2.1.4.js')}"></script>
    <script src="{f:uri.resource(path:'CSS/bootstrap/js/bootstrap.js')}"></script>
</head>
<body>
<f:flashMessages class="flashmessages"/>

<div class="page head">
    <img src="{f:uri.resource(path:'IMG/belonet-logo.png')}" alt="belonet" class="page-logo">
    <f:render section="TopMenu"/>
</div>

<div class="nav-wrapper">
    <div class="page nav">
        <f:render section="Navigation"/>
    </div>
</div>

<div class="page body">
    <div class="menu">
          <f:render section="ModuleMenu"/>
    </div>

    <div class="content">
        <f:render section="Content"/>
    </div>

</div>


</body>
</html>