<f:layout name="Login"/>

<f:section name="Title">Belonet Anmeldung</f:section>

<f:section name="Content">
    <img src="{f:uri.resource(path:'IMG/belonet-logo.png')}" alt="belonet" class="logo">

    <h1>Benutzeranmeldung</h1>
    <br class="clear">

    <form>
        <!-- <div class="alert alert-danger" role="alert">Benutzername oder Passwort falsch!</div> -->
        <p>
            <label for="username">Benutzername</label>
            <input type="text" class="form-control" id="username" autofocus="autofocus">
        </p>

        <p>
            <label for="password">Passwort</label>
            <input type="password" class="form-control" id="password">
        </p>
        <button type="submit" class="btn btn-success">anmelden</button>
        <br class="clear">
    </form>
</f:section>